.danger {
  background-color: #dc3545;
  color: white;
}

.warning {
  background-color: #ffc107;
  color: white;
}

.good {
  background-color: #198754;
  color: white;
}

.completed > td {
  text-decoration: line-through;
  text-decoration-color: lightcoral;
  color: gray;
}

#counterHeader {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  line-height: 50px;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
