<br>
<h4>Why Choose Todo Dojo?</h4><br>
<ul>
  <li><strong>Effortless Task Management:</strong>
    With Todo Dojo, you can effortlessly create and manage work tasks and personal to-dos.</li><br>
  <li><strong>Conquer Tasks Effortlessly:</strong> Our sleek and intuitive interface is designed to provide you with
    a seamless and enjoyable task management experience. Say goodbye to clutter and distractions, and say hello to a
    clean
    and organized workspace.</li><br>
  <li><strong> We're excited to have you on board and help you conquer your tasks like a true ninja! Let's get started
      at Todo Dojo!</strong><br><br>
    <button class="btn btn-success" [routerLink]="['/register']">Sign-Up</button>
  </li>
</ul>
